<section class="addRead">
    <div class="reads-form">
        <form action="/add" method="post">
            <input type="text" name="image" id="image" placeholder="Image Link">
            <form action="/search" method="get">
                <input type="text" name="title" id="title" placeholder="Title">
                <button type="submit">Search</button>
            </form>
            <input type="text" name="author" id="author" placeholder="Author">
            <input type="text" name="genre" id="genre" placeholder="Genre">
            <input type="date" name="date" id="date">
            <input type="number" name="rating" id="rating" placeholder="Rating 1-10">
            <textarea name="content" id="content"></textarea>
            <button type="submit" value="Submit">Submit</button>
        </form>
        <a href="/list">View All</a>
    </div>
</section>